.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 35rem;
    height: auto;
    max-height: 90vh;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 5rem 4rem rgba(0, 0, 0, 0.5);
    background-color: #111214;
    overflow-y: auto;
    
}
.modal-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer versions of Edge */
  }
  

.close-button {
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.modal-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: #111214;
}

.modal-source, .modal-date {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.4rem;
    color: #bbb;
    background-color: #111214;
}

.modal-text {
    font-size: 1.6rem;
    line-height: 1.7rem;
    margin-top: 1rem;
    color: #ddd;
    background-color: #111214;
}

.read-more-link {
    display: inline-block;
    background: linear-gradient(to right, #b88efc, #6877f4);
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    color: #fff;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.read-more-link:active {
    transform: translateY(0.1rem);
}

@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        padding: 1.5rem;
    }

    .modal-title {
        font-size: 1.6rem;
    }

    .modal-source, .modal-date {
        font-size: 1.2rem;
    }

    .modal-text {
        font-size: 1.4rem;
    }

    .read-more-link {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }
}
